include layout.pug
div(class="jumbotron")
	form(method="POST")
		div(class="row")
			div(class="col")
				input(type="text" name="cat" class="form-control" placeholder="Categoria" required)
			div(class="col")
				input(type="text" name="desc" class="form-control" placeholder="Descripcion" required)
			div(class="col")
				input(type="number" name="precioCompra" class="form-control" placeholder="Precio de compra" required)
			div(class="col")
				input(type="number" name="precioVenta" class="form-control" placeholder="Precio de venta" required)
			div(class="col")
				input(type="number" name="cant" class="form-control" placeholder="Cantidad" required)
		br
		input(type="submit" class="btn btn-primary" value="Guardar")
	table(class="table table-bordered table-dark")
		thead
			tr
				th(scope="col") Categoría
				th(scope="col") Descripcion
				th(scope="col") Precio de venta
				th(scope="col") Precio de compra
				th(scope="col") Cantidad
		tbody
			if message
				each elem,index in message
					tr(id=index)
						each e,i in elem
							td(class=i)= e
include navFixBottom.pug
