include layout.pug
div(class="jumbotron")
	table(class="table table-bordered table-dark")
		thead
			tr
				th(scope="col") #
				th(scope="col") Descripcion
				th(scope="col") precio de compra
				th(scope="col") precio de venta
				th(scope="col")
		tbody
include navFixBottom.pug
