include layout.pug
div(class="jumbotron")
	form
		div(class="row")
			div(class="col")
				input(type="text" name="cat" class="form-control" placeholder="Categoria")
			div(class="col")
				input(type="text" name="desc" class="form-control" placeholder="Descripcion")
			div(class="col")
				input(type="text" name="precioCenta" class="form-control" placeholder="Precio de compra")
			div(class="col")
				input(type="text" name="precioVenta" class="form-control" placeholder="Precio de venta")
			div(class="col")
				input(type="text" name="cant" class="form-control" placeholder="Cantidad")
		br
		input(type="submit" method="POST" class="btn btn-primary" value="Guardar")
include navFixBottom.pug
