include layout.pug
div(class="jumbotron")
	form(method="POST")
		div(class="row")
			div(class="col")
				input(type="text" name="cat" class="form-control" placeholder="Categoria" required)
			div(class="col")
				input(type="text" name="desc" class="form-control" placeholder="Descripcion" required)
			div(class="col")
				input(type="number" name="precioCenta" class="form-control" placeholder="Precio de compra" required)
			div(class="col")
				input(type="number" name="precioVenta" class="form-control" placeholder="Precio de venta" required)
			div(class="col")
				input(type="number" name="cant" class="form-control" placeholder="Cantidad" required)
		br
		input(type="submit" class="btn btn-primary" value="Guardar")
include navFixBottom.pug
